{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "parser": "babel",
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true
}
